---

const { href, title, body } = Astro.props;
---

<div>
	<a href="/">[ home ]</a>
	<a href="/about">[ about ]</a>
	<a href="/htmx1">[ htmx1 ]</a>
	<a href="/htmx2">[ htmx2 ]</a>
	<a href="/login">[ Login ]</a>
	<hr />        
</div>
<!--
<a href="/testapi">[ TestApi ]</a>
 -->

<style>
.link-card {
	padding: 1px;
}
</style>
